body:before {
	content:"";
	position:fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	z-index:-1; 
    background: rgb(213,0,231);
    background: linear-gradient(0deg, rgb(185, 0, 231) 0%, rgb(40, 54, 255) 100%);
}

body {
    font-family: redHat_regular;
    color: rgb(255, 255, 255);
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}